@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body * {
   font-family: 'Syne', sans-serif;
   font-size: 16px;
}

h1 {
    color: #3B8E46;
    font-size: 38px;
    text-decoration: uppercase;
}


h2 {
    color: #d2776a;
    font-size: 30px;
    text-decoration: uppercase;
}

h3 {
    font-size: 30px;
}

.hover-effect img {
   transition: all 0.33s ease-in-out;
   transform: scale(1) translateY(0px);
}
.hover-effect img:hover {
   transition: all 0.33s ease-in-out;
   transform: scale(1.05) translateY(-10px);
}

